body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}

/*Global*/
.container-long{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.maintextimagebox{
  width: 80%;
  margin: auto;
  text-align: center;
}

.container-short{
  width: 40%;
  margin: auto;
  overflow: hidden;
}

.container-long-statistics{
  width: 80%;
  margin: auto;
  display: table;
  overflow: hidden;
}

.Contactmebutton{
  height: 30px;
  background-color: #333333;
  color: #ffffff;
  border: 0;
}

ul{
  margin: 0;
  padding: 0;
}

/*Header*/
header{
  background: #def4f0;
  color: #66BFBF;
  min-height: 70px;
  padding-top: 30px;
}

header a{
  color: #66BFBF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}


header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #MyName {
  float: left;
}

header #MyName h1{
  margin: 0;
}

header nav{
  float: right;
  margin-top: 15px;
}

header .highlight, header .current a{
  color: #393e46;
  font-weight: bold;
}

header a:hover{
  text-decoration: underline;
}


/*Section Say hello*/
#SayHello {
  min-height: 400px;
  text-align: center;
  padding: 20px;
}

#SayHello h1{
  font-size:40px;
  color: #66BFBF;
}

#SayHello p{
  font-size:20px;
}

#AboutMeProfPic{
  width: 180px;
  margin-top: 60px;
}


/*Statistics section*/
#MyStatistics{
  margin-top: 50px;
  text-align: center;
}

#MyStatistics .StatBox{
  display: table-cell;
  }

#MyStatistics .StatBox img{
  width: 70px;
}

#MyStatistics p{
  font-size:20px;
}


/*Values I bring*/
#ValueIBring {
  margin-top: 50px;
  padding: 20px;
  text-align: center;
}

#ValueIBring img{
  width: 80px;
}

#ValueIBring .ValueBox{
  padding: 10px;
}

#ValueIBring h1{
  font-size:40px;
  color: #66BFBF;
}

#ValueIBring p{
  font-size:20px;
}

/*Things I do in my free time*/
#Freetime {
  margin-top: 50px;
  padding: 20px;
  text-align: center;
}

#Freetime img{
  width: 100px;
}

#Freetime .Freetimebox{
  display: inline-block;     /*Changed from float*/
  text-align: center;
  width: 15%;
  padding: 10px;
}

#Freetime h1{
  font-size:40px;
  color: #66BFBF;
}

/*footer*/
footer{
  padding: 20px;
  background-color: #333333;
  color:#ffffff;
  text-align: center;
}

footer a{
  color:#ffffff;
  text-decoration: none;
  padding: 20px;
}

footer a:hover{
  text-decoration: underline;
}

/*MyCreations-Page*/
#MyCreationsLogo{
  width: 140px;
  margin-top: 60px;
}

#Creation1 {
  min-height: 400px;
  text-align: center;
  padding: 20px;
  background-color: #5c2a9d;
}

#Creation1 h1{
  font-size:40px;
  color: #ffffff;
}

#Creation1 h2{
  font-size:25px;
  color: #ffffff;
}

#Creation1 p{
  font-size:20px;
  color: #ffffff;
}

#Creation1 a{
  text-decoration: none;
}

#Creation1 img{
  margin-top: 20px;
  width: 440px;
  border-radius: 10px;
}


#Creation2 {
  min-height: 400px;
  text-align: center;
  padding: 20px;
  background-color: #ff5151;
}

#Creation2 h1{
  font-size:40px;
  color: #ffffff;
}

#Creation2 h2{
  font-size:25px;
  color: #ffffff;
}

#Creation2 p{
  font-size:20px;
  color: #ffffff;
}

#Creation2 a{
  text-decoration: none;
}

#Creation2 img{
  margin-top: 20px;
  width: 440px;
  border-radius: 10px;
}

/*Diesel Petrol blog post*/
#ActualPostIntro{
  text-align: center;
  margin-top: 60px;
  padding: 10px;
}

#ActualPostIntro h1{
  font-size:40px;
  color: #66BFBF;
}

#ActualPostIntroProfPic{
  width: 60px;
}

#main {
  padding: 20px;
}

#maintext p{
  font-size:20px;
}

#Calculatormaintext{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 400px;
  border-radius: 10px;
}

#Testimonials{
  margin-top: 50px;
  text-align: center;
  margin-bottom: 30px;
  padding: 20px;
}

#Testimonials .TestimonialBox{
  padding: 20px;
  }

#Testimonials .TestimonialBox img{
  width: 100px;
  border-radius: 50%;
}

#Testimonials p{
  font-size:20px;
}

#Testimonials h1{
  font-size:40px;
  color: #66BFBF;
}

/*YogaSessionText*/

#YogaMVPtext{
  width: 600px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#YogaSessiontext{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 400px;
  border-radius: 10px;
}

/*To resize*/

@media (max-width: 768px) {
  header #MyName,
  header nav,
  header nav li{
    float: none;
    text-align: center;
    width: 100%;
  }

  #MyStatistics .StatBox,
  #Freetime .Freetimebox,
  .container-short,
  .container-long,
  .container-long-statistics,
  .maintextimagebox{
    display: block;
    text-align: center;
    width: 100%;
  }

  header a{
    text-transform: uppercase;
    font-size: 15px;
  }


  header{
    padding-bottom: 20px;
  }


  #AboutMeProfPic{
    margin-top: 20px;
    width: 140px;
  }

  #SayHello h1,
  #ValueIBring h1,
  #Freetime h1,
  #ActualPostIntro h1,
  #Testimonials h1{
      font-size: 35px;
  }

  #MyStatistics .StatBox,
  #ValueIBring .ValueBox{
    margin-top: 70px;
    margin-bottom: 70px;
    }

    footer a{
      padding: 15px;
    }

    #Creation1Img{
      display: none;
    }

    #Creation2Img{
      display: none;
    }

    #Creation1 h1,
    #Creation1 h1{
        font-size: 35px;
    }

    #Creation1 h2,
    #Creation2 h2{
      font-size:20px;
      color: #ffffff;
    }

    #Creation1 p,
    #Creation2 p{
      font-size:15px;
    }

    #MyCreationsLogo {
      width: 100px;
      margin-top: 20px;
    }

    #ActualPostIntro{
      text-align: center;
      margin-top: 30px;
   }

   #Calculatormaintext{
     width: 270px;
   }

   #YogaMVPtext{
     width: 270px;
   }

   #YogaSessiontext{
     width: 270px;
   }

}
